#header {
  background-color: white;
  text-align: center;

}

#signin {
  text-align:center;
}

body {
  background-color: #FFEDE8;
}

h1 {
  margin-top: 7px;
  margin-bottom: 0px;
  font-size: 50px;
  color: #A5A7DE;
  font-family: arial black;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p {
  font-size: 20px;
  color: #635C56;
  font-family: arial;
}

h2 {
  padding:10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Quicksand; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 26.4px;
  text-align: center;
}

#outerWrap{
  display:flex;
  position: relative;
  z-index: 0;
  height:100px;
  background-color: #FFEDE8;
}

#navBar{
  flex: 1;
  position: absolute;
  z-index: 1;
  height:25%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  background-color: #AB936D;
}

#space{
  flex-grow: 1;
}

form{
  text-align: center;
}


.navBar_options: hover{
  color: #708090;
}

.navBar_options{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.userbox {
  border-bottom: black solid 1px;
}

.btn {
  background-color: #A5A7DE;
  border: none;
}

.btn-primary{
  color: #fff;
  background-color: none;
  border-color: none;
}

.card-text{
  font-size: 30px;
  color: #A5A7DE;
  font-family: arial;
}

.card-title{
  font-size: 25px;
  color: #A5A7DE;
  font-family: arial;
  margin-top: 12px;
  letter-spacing: 1px;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 15px;
  vertical-align: top;
  justify-items: center;
  background-color: #FFEDE8;
}

.card {
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  position:flex;
  width: 420px;
  border: 5px solid #9E8278;
  padding: 7px;
  background-color: #FFF7F5 !important;
}

.comments {
  border:black solid 1px;
  padding: 2px;
  margin: 1px;
}
