#header {
  background-color:#FAB8A7;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

body {
  background-color: #FFEDE8;
}

h1 {
  font-size: 50px;
  color: #635C56;
  font-family: arial black;
}

p {
  font-size: 25px;
  color: #635C56;
  font-family: arial;
}

#outerWrap{
  display:flex;
  position: relative;
  z-index: 0;
  height:1000px;
}

#navBar{
  flex: 1;
  position: absolute;
  z-index: 1;
  height:5%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  background-color: #9C8E8A;
}

#space{
  flex-grow: 1;
}


.navBar_options: hover{
  color: #708090;
}

.navBar_options{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.homeSections{
  text-align: center;
}

.forms{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form{
  text-align: center;
}
/* most popular posts style */
#popularPhotos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#popularPhotos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
