#header {
  background-color:#FAB8A7;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  margin-top: 0px
}

#createuser {
  text-align:center;
}

body {
  background-color: #FFEDE8;
}

h1 {
  font-size: 50px;
  color: #635C56;
  font-family: arial black;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 25px;
  color: #635C56;
  font-family: arial;
}

h2 {
  font-size:32px;
  margin-top: 0px;
  font-family: arial;
  color: #212529
}
