<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" href="aboutUs.css">

    </script>
  <link rel="stylesheet" href="/static/css/aboutUs.css">
  </head>
  <body>
    <div class="ourPurpose">
      Our Purpose:
      Bridge the gap between consumer and their products through a connected community.
    </div>
    <div class=bios>
      <img src= /static/images/DSC_0873.JPG>
      <p>Sophia Africk</p>
      <p>University of Pennsylvania Class of 2023</p>
      <p>Contact: sophafrick@gmail.com</p>
    </div>
    <div class=bios>
      <img src= /static/images/F263CE77-D0D5-477D-9814-5FF46823392E.JPG>
      <p>Christine Liu</p>
      <p>University of Michigan Class of 2023</p>
      <p>Contact: liuc@bxscience.edu</p>
    </div>
    <div class=bios>
      <img src= /static/images/John.jpeg>
      <p>Rensselaer Polytechnic Institute Class of 2023</p>
      <p>Contact: johnkongtcheu@gmail.com</p>
    </div>
  </body>
</html>
