<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <script type="text/javascript" src="/static/js/trial.js" ></script>
  <link rel="stylesheet" href="/static/css/all_posts.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <section id=header>
      <h1>SHOP FINDER</h1>
      <h2>Explore All Posts</h2>
    </section>
    <section id = "outerWrap">
        <div id = "navBar">
          <a class = "navBar_options" href = "/">Home</a>
          <div>
            <a class = "navBar_options" href = "/Logout">Log Out</a>
        </div>
    </section>
    <div class = "cardcontainer">
    {% if all_posts != None %}
      {% for post in all_posts %}
      <div class = "card">
      <img class="card-img-top" style = "width:398px" src = {{ post.image_url }}>
      <div class="userbox">
        <h1 class = "card-title">User: {{ post.user_name}} </h1>
      </div>
        <!-- <img src = {{ post.image_url }}> -->
        <div class = "tags">
        <p>Tags:</p>
        <ul class = "card-text" >
        {% for tag in post.tags %}
          <span class = "w3-tag w3-blue"><li class = "card-text" style = "display:inline;float:left; list-style-type: none;padding-right:1rem"> #{{ tag }} </li></span>
        {% endfor %}
        </ul>
        </div>
        <form method = "post" action = "/">
            <input id = "Input{{ post.key.id }}"type="text" name="Comment" value="Post Comment here">
            <button class="btn btn-primary" onclick = "CommentPost({{ post.key.id }})" type="submit">Post!</button>
        </form>
        {% if post.comments != None %}
          {% for commentKey in post.comments %}
          {% set comment = commentKey.get() %}
            <div class="comments">
            <p>User:{{ comment.user_name }}</p>
            <p>{{ comment.content }} </p>
            </div>
          {% endfor %}
        {% endif %}
        {% if post.user_name in post.likes_list %}

            <h1 class = "card-text">
              <svg class="heart" viewBox="0 0 32 29.6">
                <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                 c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
              </svg>
              :{{ post.likes }}</h1>
        {%  else %}
           <form method = "post" action ="/">
           <button type ="submit" class="btn btn-primary" id  = {{ post.key.id  }} onclick="LikePost({{ post.key.id }})" >Likes: {{ post.likes }} </button>
            </form>

        {%  endif %}
        </div>
      {% endfor %}
    {% else %}
      <h1>Sorry, there are no posts at the moment.</h1>
    {% endif %}
    </div>
  </body>
</html>
