<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <script type="text/javascript" src="/static/js/trial.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <title> Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">
  </head>
  <body>
<div class="container">
    	<div class="d-flex justify-content-center h-100">1
    		<div class="card" style = "width:40rem">
    			<div class="card-header">
    				<h3>Hey {{first_name}} , let me know a few things about you </h3>
    				<div class="d-flex justify-content-end social_icon">
    					<span><i class="fab fa-facebook-square"></i></span>
    					<span><i class="fab fa-google-plus-square"></i></span>
    					<span><i class="fab fa-twitter-square"></i></span>
    				</div>
    			</div>
    			<div class="card-body">
    				<form method="post" action = "{0}" enctype="multipart/form-data">
                    <label>
                      Upload Image
                      <input type="file" name="image" accept="image/gif, image/jpeg, image/png">
                    </label><br/>
                    <label>

                      What's your favorite brand?<input type="text" name="Brand" value="">
                     What's your gender? <input type="text" name="Gender" value="">
                    </label><br/>
                    <button type="submit">Post!</button>
          </form>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>