<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="/static/css/home.css">
  </head>
  <body>
    <section id = "outerWrap">
        <div id = "navBar">
          <a id = "homeTab" href = "/">Home</a>
          <a href = "/allUserPosts">Explore</a>
          <div>
            <a class = "navBar_options" href = "/sign_up">Sign Up</a>
            <a class = "navBar_options" href = "/Login">Sign In</a>
          </div>
        </div>
    </section>
    <h1>Search by Tag</h1>
    <form method="post" action = "/search-results">
      <input type="text" name="search" placeholder="Search...">
      <button type="submit">Search!</button>
    </form>
    <h1>New Post</h1>
    <form method="post" action = "{0}" enctype="multipart/form-data">
      <label>
        Upload Image
        <input type="file" name="image" accept="image/gif, image/jpeg, image/png">
      </label><br/>
      <label>
        Tags:
        <input type="text" name="tag1" value="">
        <input type="text" name="tag2" value="">
        <input type="text" name="tag3" value="">
      </label><br/>
      <button type="submit">Post!</button>
    </form>
    <h1>Past Posts</h1>
    {% if all_user_posts !=  None %}
      {% for post in all_user_posts %}
        <img src = {{ post.image_url }}>
        {% for tag in post.tags %}
          <p> {{ tag }} </p>
        {% endfor %}
      {% endfor %}
    {% else %}
      <h1> No Posts made yet </h1>
    {% endif %}
    </body>
</html>
