<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <script type="text/javascript" src="/static/js/trial.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <title> Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">
  </head>
  <body>

    <section id=header>
      <h1>SHOP FINDER</h1>
      <h2>A Community of Shoppers Finding One Item at a Time</h2>
    </section>
    <!-- <section id = "outerWrap"> -->
      <div id = "navBar">
        <a class = "navBar_options" href = "/">Home</a>
        <a class = "navBar_options" href = "/allPosts">Explore</a>
        <div>
          <a class = "navBar_options" href = "/Logout">Log Out</a>
        </div>
      </div>
      <section id = "popularPhotos">
        <img class = "popularPhotos" src={{popularPost1.create_post_photo_url}} alt="{{popularPost1.user_name}}'s post">
        <img class = "popularPhotos" src={{popularPost2.create_post_photo_url}} alt="{{popularPost2.user_name}}'s post">
        <img class = "popularPhotos" src={{popularPost3.create_post_photo_url}} alt="{{popularPost3.user_name}}'s post">
        <img class = "popularPhotos" src={{popularPost4.create_post_photo_url}} alt="{{popularPost4.user_name}}'s post">
        <img class = "popularPhotos" src={{popularPost5.create_post_photo_url}} alt="{{popularPost5.user_name}}'s post">
        <img class = "popularPhotos" src={{popularPost6.create_post_photo_url}} alt="{{popularPost6.user_name}}'s post'">
      </section>
    <div id = "searchAndPost">
      <div>
        <h1 class = "homeSections">Search by Tag</h1>
        <div class = "forms">
          <form method="post" action = "/search-results">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search!</button>
          </form>
        </div>
      </div>
      <div>
        <h1 class = "homeSections">New Post</h1>
        <div>
          <form method="post" action = "{0}" enctype="multipart/form-data">
            <label>
              Upload Image
              <input type="file" name="image" accept="image/gif, image/jpeg, image/png">
            </label><br/>
            <label>
              Tags:
              <input type="text" name="tag1" value="">
              <input type="text" name="tag2" value="">
              <input type="text" name="tag3" value="">
            </label><br/>
            <button type="submit">Post!</button>
          </form>
        </div>
      </div>
    </div>
    <h1 class = "homeSections">Past Posts</h1>
    <div class= "cardcontainer">
    {% if all_posts !=  None %}
      {% for post in all_posts %}
        <div class = "card">
          <img class="card-img-top" style = "width:398px" src = {{ post.image_url }}>
          <div class="userbox">
            <h1 class = "card-title">User: {{ post.user_name}} </h1>
          </div>
          <div class="tags">
          <p>Tags:</p>
          {% for tag in post.tags %}
            <p class = "card-text" style = "float:left"> {{ tag }}, </p>
          {% endfor %}
          </div>
          <form method = "post" action = "/">
              <input id = "Input{{ post.key.id }}"type="text" name="Comment" value="Post Comment here">
              <button  class="btn btn-primary" onclick = "CommentPost({{ post.key.id }})" type="submit">Post!</button>
          </form>
          {% if post.comments != None %}
            {% for comment in post.comments %}
              <div>
              <p>User:{{ comment.get.user_name }}</p>
               <p>Likes:{{ comment.get.likes }} </p>
               <p>{{ comment.get.content }} </p>
               <!-- {% if comment != None %}
                 {% for subcomment in comment.get.comments %}
                   <div>
     `              <p>User:{{ subcomment.get.user_name }}</p>
                    <p>Likes:{{ subcomment.get.likes }} </p>
                    <p>{{ subcomment.get.content }} </p>
                   </div>
                 {% endfor %}
            {% endif %} -->
              </div>
            {% endfor %}
          {% endif %}
          {% if user.username in post.users_liked %}
              <h1 class = "card-text">Likes:{{ post.likes }}</h1>
          {%  else %}
             <form method = "post" action ="/">
             <button type ="submit" class="btn btn-primary" id  = {{ post.key.id  }} onclick="LikePost({{ post.key.id }})" >Likes: {{ post.likes }} </button>
              </form>
          {%  endif %}
      </div>
      {% endfor %}
    {% else %}
      <h1> No Posts made yet </h1>
    {% endif %}
  </div>
    </body>
</html>
