<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="/static/css/signup.css">
  </head>
  <body>
    <section id=header>
      <h1>SHOP FINDER</h1>
      <h2>A Community of Shoppers Finding One Item at a Time</h2>
    </section>
    <form id=createuser action="/sign_up" method="post">
      <h1>Create User</h1>
      First Name:<input type="text" name="First_Name" value="First Name"></br>
      Last Name: <input type="text" name="Last_Name" value="Last Name"></br>
      Username: <input type="text" name="username" value="username"></br>
      Password: <input type="password" name="password" value="password"></br>
                <input type="submit" value="Sign Up"></br>
      <a href = "/Login"> Already have an account? Log in here! </a>
    </form>
  </body>
</html>
