<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/sign_up" method="post">
      <h1>Create User</h1>
      firstName:<input type="text" name="First_Name" value="First Name">
      lastName: <input type="text" name="Last_Name" value="Last Name">
      Username: <input type="text" name="username" value="username">
      Password: <input type="password" name="password" value="password">
                <input type="submit" value="Login">
    </form>
  </body>
</html>
